.banner_title{
    position: absolute;
    top: 20% !important;
    left: 5% !important;
}
/* .active, .nav-item:hover {
       border-bottom: 1px solid red; 
} */

.navbar-nav {
    margin-inline-start: auto !important;
    width: 55rem !important;
    padding-top: 12px !important;
}
.h-180{
    height: 180px;
}
/* .nav-item{
    padding-right: 30px;
} */
/* a{
    background-color: transparent !important;
} */
.mu-top-icon
{
    background: -webkit-linear-gradient(#02A3F4, #02A3F4, #007EDB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none!important;
}
