.banner_title{
    position: absolute;
    top: 20% !important;
    left: 5% !important;
}
/* .active, .nav-item:hover {
       border-bottom: 1px solid red; 
} */

.navbar-nav {
    margin-inline-start: auto !important;
    width: 55rem !important;
    padding-top: 12px !important;
}
.h-180{
    height: 180px;
}
